button span{
    font-family: 'Racing Sans One', cursive;
    color: #000000;
}
button span:hover{
    color: #ff0000;
}
div#button{
    margin-left:300px;
}
div#button button{
    margin-right:20px;
}
h1.login{
    font-family: 'Racing Sans One', cursive;
    color: #cc0000;
}

